.world-flag { background: no-repeat right top; }

.flag-ar-v { background-image: url(../flags/ar-v.svg); }
.flag-az-nag { background-image: url(../flags/az-nag.svg); }
.flag-ba-bih { background-image: url(../flags/ba-bih.svg); }
.flag-ba-srp { background-image: url(../flags/ba-srp.svg); }
.flag-bq-sa { background-image: url(../flags/bq-sa.svg); }
.flag-cl-rn { background-image: url(../flags/cl-rn.svg); }
.flag-cy-tr { background-image: url(../flags/cy-tr.svg); }
.flag-eur { background-image: url(../flags/eur.svg); }
.flag-fr-e { background-image: url(../flags/fr-e.svg); }
.flag-gb-bat { background-image: url(../flags/gb-bat.svg); }
.flag-gb-eng { background-image: url(../flags/gb-eng.svg); }
.flag-gb-sct { background-image: url(../flags/gb-sct.svg); }
.flag-gb-sea { background-image: url(../flags/gb-sea.svg); }
.flag-gb-wls { background-image: url(../flags/gb-wls.svg); }
.flag-ge-ab { background-image: url(../flags/ge-ab.svg); }
.flag-ge-aj { background-image: url(../flags/ge-aj.svg); }
.flag-ge-skx { background-image: url(../flags/ge-skx.svg); }
.flag-gg-al { background-image: url(../flags/gg-al.svg); }
.flag-gg-hm { background-image: url(../flags/gg-hm.svg); }
.flag-gg-sa { background-image: url(../flags/gg-sa.svg); }
.flag-in-sk { background-image: url(../flags/in-sk.svg); }
.flag-md-xx { background-image: url(../flags/md-xx.svg); }
.flag-mh-ba { background-image: url(../flags/mh-ba.svg); }
.flag-nl-ant { background-image: url(../flags/nl-ant.svg); }
.flag-ru-ad { background-image: url(../flags/ru-ad.svg); }
.flag-ru-al { background-image: url(../flags/ru-al.svg); }
.flag-ru-ba { background-image: url(../flags/ru-ba.svg); }
.flag-ru-bu { background-image: url(../flags/ru-bu.svg); }
.flag-ru-ce { background-image: url(../flags/ru-ce.svg); }
.flag-ru-cu { background-image: url(../flags/ru-cu.svg); }
.flag-ru-da { background-image: url(../flags/ru-da.svg); }
.flag-ru-ich { background-image: url(../flags/ru-ich.svg); }
.flag-ru-in { background-image: url(../flags/ru-in.svg); }
.flag-ru-kb { background-image: url(../flags/ru-kb.svg); }
.flag-ru-kc { background-image: url(../flags/ru-kc.svg); }
.flag-ru-kk { background-image: url(../flags/ru-kk.svg); }
.flag-ru-kl { background-image: url(../flags/ru-kl.svg); }
.flag-ru-ko { background-image: url(../flags/ru-ko.svg); }
.flag-ru-kpr { background-image: url(../flags/ru-kpr.svg); }
.flag-ru-kr { background-image: url(../flags/ru-kr.svg); }
.flag-ru-me { background-image: url(../flags/ru-me.svg); }
.flag-ru-mo { background-image: url(../flags/ru-mo.svg); }
.flag-ru-sa { background-image: url(../flags/ru-sa.svg); }
.flag-ru-se { background-image: url(../flags/ru-se.svg); }
.flag-ru-ta { background-image: url(../flags/ru-ta.svg); }
.flag-ru-ty { background-image: url(../flags/ru-ty.svg); }
.flag-ru-ud { background-image: url(../flags/ru-ud.svg); }
.flag-se-lad { background-image: url(../flags/se-lad.svg); }
.flag-sh-ta { background-image: url(../flags/sh-ta.svg); }
.flag-smoom { background-image: url(../flags/smoom.svg); }
.flag-so-so { background-image: url(../flags/so-so.svg); }
.flag-ua-43 { background-image: url(../flags/ua-43.svg); }
.flag-uz-qr { background-image: url(../flags/uz-qr.svg); }
.flag-xk { background-image: url(../flags/xk.svg); }
